Why does cwt::Timestamp respresent WholeSeconds as a signed int?

In the cwt mod, Timestamp is specified as 

```
pub enum Timestamp {
    WholeSeconds(i64),
    FractionalSeconds(f64),
}
```

Is there a reason whole seconds are represented by an i64 instead of a u64? Whole seconds can never be a negative number. The rust std::time mod [represents whole seconds as a u64](https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_secs), so updating the value here could prevent callers from needing to perform a fallible conversion 

[RFC8392 s2](https://datatracker.ietf.org/doc/html/rfc8392#section-2) says:

> NumericDate ... is represented as a CBOR numeric date (from Section 2.4.1 of RFC7049) instead of a JSON number.  The encoding is modified so that the leading tag 1 (epoch-based date/time) MUST be omitted.

[Section 2.4.1 of RFC7049](https://datatracker.ietf.org/doc/html/rfc7049#section-2.4.1) says:

> Tag value 1 is for numerical representation of seconds relative to
   1970-01-01T00:00Z in UTC time.  (For the non-negative values that the
   Portable Operating System Interface (POSIX) defines, the number of
   seconds is counted in the same way as for POSIX "seconds since the
   epoch" [[TIME_T](https://datatracker.ietf.org/doc/html/rfc7049#ref-TIME_T)].)  The tagged item can be a positive **or negative**
   integer (major types 0 and 1), or a floating-point number (major type
   7 with additional information 25, 26, or 27).  **Note that the number
   can be negative (time before 1970-01-01T00:00Z)** and, if a floating-
   point number, indicate fractional seconds.

(my bold)